---
import { Icon } from "astro-icon/components";
import navlinks from "./navlinks.json";
---

<footer class="bg-white border-t border-zinc-200 pb-8">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-8 px-12 py-8">
    <div class="flex items-center h-full bg-zinc-100">
      <h1 class="w-full text-center underline">Logo Placeholder</h1>
    </div>
    <!--  -->
    <div>
      <h3 class="text-lg font-bold py-4">LEROSEY TEAM</h3>
      <div class="flex flex-col">
        {
          navlinks.home.map(({ label, href }) => (
            <a href={href} class="py-1 hover:underline">
              {label}
            </a>
          ))
        }
      </div>
    </div>

    <!--  -->
    <div>
      <h3 class="text-lg font-bold py-4">Make a Difference</h3>
      <div class="flex flex-col">
        {
          navlinks.media.map(({ label, href }) => (
            <a href={href} class="py-1 hover:underline">
              {label}
            </a>
          ))
        }
      </div>
    </div>

    <!--  -->
    <div>
      <h3 class="text-lg font-bold py-4">Social Media</h3>
      <div class="flex flex-col gap-2">
        {
          navlinks.others.map(({ label, href, icon }) => (
            <a href={href} class="flex py-1 hover:underline">
              <Icon name={icon} class="size-6" />
              {label}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
